<%= render "shared/header" %>
<div class ="main-visual">
  <div class= "container">
     <h1 class ="top-title">Let'go Fitness</h1>
     <h2 class ="top-subtitle">運動を習慣化しよう！</h2>
  </div>
</div>
<%= render "shared/footer" %>